<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

</head>
<body>
    <div id="root">
        <div class="row content">
            <div class="col s12 m6 ">
                <div class="card z-depth-5 form-field">
                    <div class="card-action blue lighten-1 white-text center-align">
                        <div class="card-title">
                            <h4>Welcome to Awesomeshop</h4>
                        </div>
                        <p>Enter your email address and password <br>
                            to access to continue</p>
                        
                    </div>
                    <div class="card-content">
                        <div class="input-field">
                            <input type="text" id="email" name="email" >
                            <label for="email">Email Address</label>
                            
                        </div>
                        <div class="input-field">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password">
                        </div>
                        <div class="input-field ">
                            <p>
                                <label>
                                  <input type="checkbox" />
                                  <span>Remember me</span>
                                </label>
                            </p>
                        </div>
                        <div class="input-field">
                            <div class="btn-large  blue lighten-1 waves-effect waves-dark" style="width: 100%;">Login</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card z-depth-5 form-field">
                    <div class="card-action blue lighten-1 white-text center-align">
                        <h4 >Welcome to Awesomeshop</h4>
                        <p>Don't have an account? Create your own <br>
                        account, it takes less than a minute</p>
                    </div>
                    <div class="card-content">
                        <div class="input-field">
                            <input type="text" id="username" name="email" >
                            <label for="username">Username</label>
                        </div>
                        <div class="input-field">
                            <input type="text" id="email" name="email" >
                            <label for="email">Email Address</label>
                        </div>
                        <div class="input-field">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password">
                        </div>
                        <div class="input-field">
                            <label for="confirmpassword">Confirm Password</label>
                            <input type="password" id="confirmpassword" name="password">
                        </div>
                        <div class="input-field ">
                            <p>
                                <label>
                                  <input type="checkbox" required/>
                                  <span>I accept Terms and Condition</span>
                                </label>
                            </p>
                        </div>
                        <div class="input-field">
                            <div class="btn-large  blue lighten-1 waves-effect waves-dark"  style="width: 100%;">Login</div>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
        <footer class="page-footer grey grey darken-1" style="margin-top: -1%;padding-bottom: 1%;">
            <div class="container">
                <div class="footer-copy-right center-align ">
                    2021 © Awesomeshop by Tom
               </div>
            </div>
        </footer>
    </div>
    
    <script src="assets/js/main.js"></script>
</body>

</html>